:root{
    --main-color-pink: #CD06FF;
    --main-color-purple: #6C0287;
    --main-color-darker-purple: #640AA3;
    --main-color-lighter-purple: #840AA3;
    --main-color-dark:#440F51;
    --main-color-white:#EADEED;
}