html{
    box-sizing: border-box;
    position: relative    ;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1A1B;
    color: #FFFFFF;
}

img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,p,figure,fieldset {
    margin: 0;
    padding: 0;
}  

h1,h2,h3{
    text-transform: uppercase;
}

h2{
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

blockquote{
    margin: 0;
}

cite{
    font-style: normal;
}

button{
    cursor: pointer;
}

.scheme{
    width: 1440px;
    padding: 0 0 50px;
    margin: 0 auto;
}

section{
    padding: 0 130px;
}

