.main__about-us{
    margin-bottom: 100px;
}


.about-us__title{
    margin-bottom: 40px;
}

.about-us__container{
    display: flex;
}

.about-us__info{
    display: inline-block;
}

.about-us__img{
    margin-right: 80px;
}

.about-us__text{
    width: 500px;
    height: 222px;
    white-space: pre-line;
    margin-bottom: 58px; 
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;  
}

.quote__container{
    display: flex;
}

.quote__open, .quote__close{
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: #6C0287;
    margin-right: 9px;
}

.quote__text{
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    width: 469px;
    height: 191px;
    white-space:pre-line;
    margin-bottom: 42px;
}


.quote__close{
    margin: 0;
    padding-top: 50px;
    padding-right: 130px;
}

.quote__author{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 389px;
    padding-left: 60px;
}

.quote__author--img{
    display: inline-block;
    width: 80px;
    height: 80px;
    box-sizing: inherit;
    margin-right: 30px;
}

.quote__author--text{
    width: 280px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    white-space:pre-line;
}   