.banner{
    position: relative;
    margin-bottom: 100px;
}


.banner__title{
    text-transform: uppercase;
    max-width: 883px;
    line-height: 150px;
    font-weight: 900;
    font-size: 150px;
    text-align: center;
    letter-spacing: -0.1em;
}

.banner__subtitle{
    padding-left: 100px;    
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 30px;    
}

.banner__block{
    display:flex;
    margin-bottom: 150px;
}

.banner__column-1{
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.banner__column-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__text-block-1{
    width: 67px;
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: #CD06FF;
}

.banner__text-block-2{
    width: 193px;
    text-align: center;
    font-size: 30px;
    line-height: 34px;
} 
.banner__text-block-3{
    width: 166px;
    font-weight: 900;
    font-size: 75px;
    line-height: 106px;
    font-variant: small-caps;
    color: #CD06FF;
    padding-top: 35px;
} 
.banner__text-block-4{
    width: 161px;
    text-align: center;
    font-size: 30px;
    line-height: 34px;
} 

.banner__button{
    background-color: #6C0287;
    border: none;
    border-radius: 10px;
    width: 374px;
    height: 80px;
    padding: 25px 70px;
    margin-bottom: 155px;
}

.banner__button:hover{
    background: #840AA3;
}

.banner__button:active{
    background: #640AA3;
}

.banner__button:focus{
    background: #840AA3;
}

.banner__button-text{
    width: 236px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner::after{
    position: absolute;
    content: '';
    display: inline-block;
    width: 675px;
    height: 762px;
    left: 635px;
    top: 61px;
    z-index: 1;
    background-image: url(../img/GO.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
}


.banner__button--down{
    position: absolute;
    display: inline-block;
    border: none;
    width: 97px;
    height: 97px;
    left: 670px;
    top: 635px;
    z-index: 2;
    background-image: url(../img/down.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
    padding-bottom: 90px;
}

.banner__button--down:hover{
    background-image: url(../img/down-hover.svg);
}

.banner__button--down:active{
    background-image: url(../img/down-active.svg) !important;
}

.banner__button--down:focus{
    background-image: url(../img/down-focus.svg);
}
