.main__booking{
    margin-bottom: 50px;
    background-color: #440F51;
}

.booking__scheme{
    width: 1440px;
    margin: 0 auto;
}

.booking__title{
    padding-top: 80px;
    margin-bottom: 40px;
}

.booking__choose-hall{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
}

.booking__form--halls{
    margin-bottom: 60px;
    display: flex;
    padding: 0 130px;
    justify-content: space-between;
}


.complex__title, 
.date__title{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
}


.halls__option{
    border-radius: 8px;
    width: 250px;
    height: 55px;
    padding: 7px 15px;
    background-color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.halls__option:hover{
    background: #EADEED;
    border: 3px solid #640AA3;
    padding: 4px 15px;
    border-radius: 8px;
}

.halls__option:active{
    background: #6C0287;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
}

.halls__option:focus{
    background: #FFFFFF;
    border: 3px solid #640AA3;
    border-radius: 8px;
}

.booking__form--halls input[type='radio']{
    display: none;
}

.complex__subtitle{    
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}

.booking__form--complex{
    display: flex;
    justify-content: space-between;
    padding: 0 230px;
}

.complex__section{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.complex__item{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    
}

.complex__item--cb{    
    position: relative;
    width: 27px;
    height: 27px;
    margin-right: 12px;
}

.booking__form--option{
    width: 27px;
    height: 27px;
    margin-right: 12px;
}

.booking__form__complex__item:last-child{
    margin-bottom: 0;
}

.date__container{
    padding: 0 230px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.booking__form--1{
    padding-top: 17px;
    width: 300px;
    margin-right: 50px;
}
.dates--btn{
    width: 134px;
    height: 52px;
    margin-right: 27px;
    margin-bottom: 36px;
}
.dates--btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
}

.booking__form_1 input[type="text"]
{
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    background-image: url(../img/Polygon\ 1.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 18px);

}


.time--btn{
    width: 134px;
    height: 52px;
}
.amount--btn{
    width: 300px;
    height: 52px;
}

.booking__form--2{
    width: 280px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.booking-form__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.booking-form__name--btn{
    width: 280px;
    height: 52px;
}
.booking-form__surname{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

}
.booking-form__surname--btn{
    width: 280px;
    height: 52px;
}


.booking__form--3{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.booking-form__telephone{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.booking-form__telephone--btn{
    width: 300px;
    height: 52px;
}
.booking-form__mail{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.booking-form__mail--btn{
    width: 300px;
    height: 52px;
}
.booking__button-container{
    padding: 0 230px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 80px;
}

.booking-form__submit{
    width: 300px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    border: #FFFFFF;
}

.booking-form__submit:hover{
    background: #EADEED;
border: 3px solid #6C0287;
border-radius: 10px;
}

.booking-form__submit:active{
background: #EADEED;
border-radius: 10px;
}

.booking-form__submit:focus{
    
background: #FFFFFF;
border: 3px solid #6C0287;
border-radius: 10px;
}

.time--btn:focus,
.amount--btn:focus,
.booking-form__mail--btn:focus,
.booking-form__name--btn:focus,
.booking-form__surname--btn:focus,
.booking-form__telephone--btn:focus,
.dates--btn:focus
{
    background: #FFFFFF;
    border: 4px solid #CD06FF;
}
