.main__faq{
    margin-bottom: 100px;
}

.faq__title{
    margin-bottom: 40px;
}
.faq__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.faq__item:last-child{
    margin-bottom: 0;
}

.faq__button, .faq__button--even{
    background-color: transparent;
    border: none;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
    background-image: url(../img/+Violet.svg);
}

.faq__item:nth-child(even) {
    color: #fff;
    background-color: #440F51;
}

.faq__button--even{
    background-image: url(../img/+White.svg);
}

.faq__button:hover{
    background-image: url(../img/+Violet-hover.svg);
}

.faq__button--even:hover{
    background-image: url(../img/+White-hover.svg);
}

.faq__button:active{
    background-image: url(../img/-Violet.svg);
}

.faq__button--even:active{
    background-image: url(../img/-White.svg);
}

.faq__button,
.faq__button--even{
    transition-duration: 0.3s;
    transition-property: background-image;
}