.main__hall{
    margin-bottom: 100px;
}

.hall h2{
    margin-bottom: 60px;
}

.hall__title{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    white-space: pre-line;
    padding-top: 275px;
    margin-bottom: 60px;
}  

.hall__title_eighties, .hall__title_star-wars, .hall__title_wild-west, .hall__title_neon-style{

    display: inline-block;
    width: 1180px;
    height: 710px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
    margin-bottom: 60px;
}

.hall__title_eighties{
    background-image: url(../img/80s-vibes.jpg);
}
.hall__title_star-wars{
    background-image: url(../img/Star-wars.jpg);
}
.hall__title_wild-west{
    background-image: url(../img/Wild-west.jpg);
}
.hall__title_neon-style{
    background-image: url(../img/Neon-style.jpg);
    margin-bottom: 0;
}