.main__halls{
    margin-bottom: 100px;
}
.halls__list{
    display: flex;
    flex-wrap: wrap;
}

.halls__item{
    width: 580px;
    height: 349px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    padding: 95px 165px;
    
    /* padding: 94px 165px; */
}

.halls__item:nth-child(2n){
    margin-right: 0;
}

.halls__item:nth-child(n+2){
    margin-bottom: 0;
}

.halls__item--vibes{
    background-image: url(../img/80s-vibes.jpg);
}
.halls__item--star-wars{
    background-image: url(../img/Star-wars.jpg);
}
.halls__item--wild-west{
    background-image: url(../img/Wild-west.jpg);
}
.halls__item--neon-style{
    background-image: url(../img/Neon-style.jpg);
}
