.main__media{
    margin-bottom: 100px;
}

.media__list{
    display: flex;
    flex-wrap: wrap;
}

.media__item{
    width: 380px;
    height: 228px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 165px 40px 34px 40px;
}

.media__item:nth-child(3n){
    margin-right: 0;
}

.media__item:nth-child(n+3){
    margin-bottom: 0;
}
.media__item--vr{
    background-image: url(../img/vr.jpg);
}
.media__item--audio{
    background-image: url(../img/audio.jpg);
}
.media__item--microphone{
    background-image: url(../img/micro.jpg);
}
.media__item--top-table{
    background-image: url(../img/game.jpg);
}
.media__item--movie{
    background-image: url(../img/netflix.jpg);
}
.media__item--ps5{
    background-image: url(../img/sony.jpg);
}

.media__item:hover{
    transform: scale(1.1);
    box-shadow:  0px 2px 18px #ffffff;
}

.media__item{
    transition-duration: 0.3s;
    transition-property: transform, box-shadow;
}