.social{
    display: flex;
}

.social-link{
    height: 50px;
    display: inline-block;
    margin-right: 27px;
}

.social li:last-child{
    margin-right: 0;
}

.social-link:hover{
    color: var(--main-color-white);
}

.social-link:active{
    color: var(--main-color-pink) !important;
}

.social-link:focus{
    color: var(--main-color-white);
    border: 1px solid var(--main-color-pink);

}

.social-link{
    transition-duration: 0.3s;
    transition-property: color, border;
}