.footer{    
    padding: 0 130px;
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}


.footer__artist{
    display: flex;
    justify-content: space-between;
}

.artist__name{
    margin-bottom: 5px;
}

.footer__artist p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.artist__mail{
    margin-bottom: 10px;
}